body {
    background-image: url('../image/OKS.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../OKS.jpg') no-repeat center center / cover;
}

.forgot-container {
    max-width: 450px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.btn-reset {
    background-color: #D50032;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-reset:hover {
    background-color: #b00020;
}

.mobile-group {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    background: #fff;
}

.mobile-prefix {
    font-weight: bold;
    color: #333;
    margin-right: 8px;
}

.mobile-input {
    border: none;
    outline: none;
    width: 100%;

}
